In [1]:
#Import the dependecies
import pandas as pd
import gmaps
import requests

#import the api key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-10-21 23:35:28,-54.8000,-68.3000,38.86,87,75,27.63
1,1,Puerto Ayora,EC,2021-10-21 23:35:29,-0.7393,-90.3518,69.78,83,59,8.37
2,2,East London,ZA,2021-10-21 23:32:34,-33.0153,27.9116,68.23,87,100,1.41
3,3,Vila Velha,BR,2021-10-21 23:35:31,-20.3297,-40.2925,69.75,73,0,8.05
4,4,Olafsvik,IS,2021-10-21 23:35:31,64.8945,-23.7142,40.28,65,67,14.50

In [3]:
#Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
#Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps=[]
for temp in max_temp:
    temps.append(max(temp,0))

In [6]:
#Heatmap of temperature
#Get the latitude and longitude
locations = city_data_df[["Lat","Lng"]]
#Get the maximum temperature
max_temp = city_data_df["Max Temp"]
#Assign the figure variable
fig=gmaps.figure(center=(30.0,31.0),zoom_level=1)
#Assign the heatmap variable
heat_layer=gmaps.heatmap_layer(locations,weights=[max(temp,0)for temp in max_temp],
                               dissipating=False, max_intensity=300,point_radius=4)
#Add the heatmap layer
fig.add_layer(heat_layer)
#Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
6,6,Atuona,PF,2021-10-21 23:35:33,-9.8000,-139.0333,77.83,78,10,17.34
11,11,Kahului,US,2021-10-21 23:35:39,20.8947,-156.4700,84.22,69,40,21.85
14,14,Ca Mau,VN,2021-10-21 23:35:42,9.1769,105.1500,78.30,89,100,3.13
18,18,Atar,MR,2021-10-21 23:35:48,20.5169,-13.0499,77.86,18,0,8.01
21,21,Kapaa,US,2021-10-21 23:35:52,22.0752,-159.3190,82.38,66,1,1.99
25,25,Banning,US,2021-10-21 23:35:58,33.9256,-116.8764,81.82,50,52,3.71
27,27,Emerald,AU,2021-10-21 23:34:38,-23.5333,148.1667,87.98,27,90,13.80
34,34,Manaure,CO,2021-10-21 23:36:08,11.7751,-72.4445,85.05,66,22,16.75
35,35,Arlit,NE,2021-10-21 23:36:08,18.7369,7.3853,85.12,14,1,7.65
37,37,Port Augusta,AU,2021-10-21 23:36:09,-32.5000,137.7667,75.70,38,0,8.03

In [12]:
preferred_cities_df.count()

City_ID       170
City          170
Country       170
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
6         Atuona      PF     77.83  -9.8000 -139.0333
11       Kahului      US     84.22  20.8947 -156.4700
14        Ca Mau      VN     78.30   9.1769  105.1500
18          Atar      MR     77.86  20.5169  -13.0499
21         Kapaa      US     82.38  22.0752 -159.3190
25       Banning      US     81.82  33.9256 -116.8764
27       Emerald      AU     87.98 -23.5333  148.1667
34       Manaure      CO     85.05  11.7751  -72.4445
35         Arlit      NE     85.12  18.7369    7.3853
37  Port Augusta      AU     75.70 -32.5000  137.7667

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
            print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [22]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [23]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))